<style type="text/css">
    .doBron{

        padding: 20px 20px 20px 20px;
        box-sizing: border-box;
        width :980px;
        border: 3px #999 solid;

        position: fixed;
        bottom: 0px;
        left : calc( 50% - 490px);

        background: rgba(255,255,255,0.8);



    }
</style>
<div class="doBron">
    <button class="uk-button uk-button-success uk-width-1-1 uk-button-large buttonBron">
        Оформить <span class="SelectKauta"></span>
    </button>
</div>