<table>
    {{#pays}}
        <tr >
            <td title="{{num_pay}}">{{amount}} <i class="fa fa-rub" aria-hidden="true"></i></td>
            <td title="{{num_pay}}">{{date_pay2}} </td>

            <td>
                <i data-id="{{id}}" class="fa fa-ban doDelPay" aria-hidden="true"></i>
            </td>
        </tr>
    {{/pays}}

</table>